<p style="text-align: center">
    <a href="http://nca2014.globalchange.gov/report/regions/great-plains#graphic-16884">
        <img src="images/dryDays.png" />
    </a>
</p>
<p>
    <b>National Climate Assessment:</b>
    Current regional trends of a drier south and a wetter north are projected to become more pronounced by mid-century (2041-2070 as compared to 1971-2000 averages). Maps show the maximum annual number of consecutive days in which limited (less than 0.01 inches) precipitation was recorded on average from 1971 to 2000 (top), projected changes in the number of consecutive dry days assuming substantial reductions in emissions (B1), and projected changes if emissions continue to rise (A2). The southeastern Great Plains, which is the wettest portion of the region, is projected to experience large increases in the number of consecutive dry days. (Figure source: NOAA NCDC / CICS-NC). <a href="http://nca2014.globalchange.gov/report/regions/great-plains#graphic-16884">Source</a>.
</p>
