<p style="text-align: center">
    <a href="http://nca2014.globalchange.gov/report/our-changing-climate/observed-change#graphic-16679">
        <img src="images/CS_global_temperature_time_series_v5.png" />
    </a>
</p>
<p>
    <b>National Climate Assessment:</b>
    Observed global average changes (black line), model simulations using only changes in natural factors (solar and volcanic) in green, and model simulations with the addition of human-induced emissions (blue). Climate changes since 1950 cannot be explained by natural factors or variability, and can only be explained by human factors. (Figure source: adapted from Huber and Knutti1).
    <a href="http://nca2014.globalchange.gov/report/our-changing-climate/observed-change#graphic-16679">Source</a>.
</p>
