<p style="text-align: center">
    <a href="http://nca2014.globalchange.gov/report/our-changing-climate/recent-us-temperature-trends#graphic-16684">
        <img src="images/deltaTempProjected.png" />
    </a>
</p>
<p>
    <b>National Climate Assessment:</b>
    Maps show projected change in average surface air temperature in the later part of this century (2071-2099) relative to the later part of the last century (1970-1999) under a scenario that assumes substantial reductions in heat trapping gases (B1) and a higher emissions scenario that assumes continued increases in global emissions (A2). (See Appendix 3: Climate Science, Supplemental Message 5 for a discussion of temperature changes under a wider range of future scenarios for various periods of this century). (Figure source: NOAA NCDC / CICS-NC).
    <a href="http://nca2014.globalchange.gov/report/our-changing-climate/recent-us-temperature-trends#graphic-16684">
        Source
    </a>.
</p>
