
<div class="row">
  <div class="col-sm-3">
    <h1>Envisioning Texas's Climate Future</h1>
  </div>
  <div class="col-sm-9">
    <p>
      This website is about <i>envisioning the future of Texas</i> in light of climate change and <i>the actions we must take to create that future</i>.
    </p>
    <p>
      Two key words are used with respect to climate action: <i>mitigation</i> and <i>adaption</i>. Both describe necessary strategies for dealing with climate change. <i>Mitigation</i> is all about reducing the pollution that is driving climate change,
      whereas <i>adaptation</i> is all about adjusting our physical and social infrastructure to manage those impacts (e.g. hotter, dryer summers; higher seas) that are, to some extent, already unavoidable.
    </p>
    <blockquote>
      How should Texans work to address the clear and present dangers of climate change?
    </blockquote>
    <p>
      Both strategies have implications for individuals, the communities in which they live and work, and the institutions that govern them. Although there will be many commonalities, the combined elements of the strategies that emerge in different geographic
      regions will be diverse. Here in Texas, we have desert, grassland, forest, and coastal plains. We have wide stretches of open space and some of the most sprawled cities in America. Wealth and poverty are both rampant. Our economic output includes
      both grapefruits and missiles, as well as energy and information. And cattle. All of these aspects deserve our concerted attention and planning.
    </p>

    <blockquote>
      What role should Texan communities and institutions play in combating climate change?
    </blockquote>
    <p>
      We (the people of Texas) need your (people of Texas, or wherever) input. What are your ideas, your most optimistic dreams for how we'll pull through this climate change thing? And sometimes we need to let the darkness out. Maybe your Climate Vision includes
      your fears for the unfolding future. Whatever your vision, please share. Talk. Be idealistic. Be realistic. Be focused or vague. Be and express whatever it takes to stir up a real conversation about our future, and, hopefully, how we'll
      <em>act</em> to shape it. Together.
    </p>

    <blockquote>
      How should the State of Texas prepare for climate impacts on its citizens and ecosystems?
    </blockquote>
    <p>
      Need ideas? One way catalyze your vision is to read through the <a href="http://nca2014.globalchange.gov/report#section-1949">Response Strategies</a> section of the National Climate Assessment. If you want to get technical, try looking into the
      EPA's
      <a href="http://www2.epa.gov/cleanpowerplantoolbox">Clean Power Plan Toolbox for States</a> (note that the EPA's strategy for cleaning up pollution at existing power plants has a heavy reliance on customized state action plans). Getting more personal,
      consider looking through the Union of Concerned Scientists'
      <a href="http://www.ucsusa.org/global_warming/what_you_can_do/">What Can You Do About Global Warming</a>,
      <a href="http://www.interfaithpowerandlight.org/">Interfaith Power &amp; Light</a>'s programs for faith communities, or the EPA's
      <a href="http://www.epa.gov/climatechange/wycd/school.html">What You Can Do: At School</a>.
    </p>

    <div class="center caption">
      <div style="overflow: hidden; width: 624px; height: 215px; margin: 0 auto 0 auto;">
        <img src="images/IMG_1722.jpg" width="1344" height="215" alt="[bluebonnets and cactus]" />
      </div>
      <p>Copyright &copy; Amanda Allensworth, 2013.</p>
    </div>
  </div>
</div>
