<div class="row">
    <div class="col-sm-12 center">
        <h1>What is your #ClimateVisionTX?</h1>
    </div>
    <div class="row larger">
        <div class="col-sm-4">
            <p>
                How should Texans work to address the clear and present dangers of climate change?
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                What role should Texan communities and institutions play in combating climate change?
            </p>
        </div>
        <div class="col-sm-4">
            <p>
                How should the State of Texas prepare for climate impacts on its citizens and ecosystems?
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 center ">
            <h3>
                Use hashtag <a href="favorites.html">#ClimateVisionTX</a> to share your vision for  <br />
                Texas &ndash; and let the world know that Texans care about climate change.
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="height: 2em;">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-sm-12 center">
        <a class="twitter-timeline" href="https://twitter.com/ClimateVisionTX" data-widget-id="503718926929231872">Tweets by @ClimateVisionTX</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
</div>
