
<div class="row">
  <div class="col-sm-3">
    <h1>Facts and Predictions About Climate Change</h1>
  </div>
  <div class="col-sm-9">
    <p>
      We're here to promote thoughtful conversations on climate change and Texas. A good starting point for thoughtful conversations is a bit of knowledge. How can we plan for the future if we don't know what it might look like? But don't let these grim facts
      and predictions get you too down. There is still reason to hope, <a href="whyact.html">reason to act</a>.
    </p>

    <div class="fact" ng-include src=" 'app/views/charts/waterSupplyRisk.html' ">
    </div>

    <div class="fact" ng-include src=" 'app/views/charts/dryDays.html' ">
    </div>

    <div class="fact" ng-include src=" 'app/views/charts/changeTexasTemperature.html' ">
    </div>

    <div class="fact" ng-include src=" 'app/views/charts/globalTemperatureTimeSeries.html' ">
    </div>

    <div class="fact" ng-include src=" 'app/views/charts/projectedTexasChange.html' ">
    </div>

    <p>&nbsp;</p>
    <p>A good resource for additional information is the <a href="http://nca2014.globalchange.gov/">National Climate Assessment</a>.
  </div>

</div>
