<div class="row">
    <div class="col-sm-3">
        <h1>Why Act? Ethics of Action</h1>
    </div>
    <div class="col-sm-9">
        <p class="floatRight caption" style="width: 200px; float: right; margin: 0 0 1em 1em;">
            <img src="images/kidsDigging.jpg" width="200" height="225" class="bordered" />
            Copyright &copy; Barbara Hartford
        </p>
        <p>
            We didn't get here overnight. But we must stop here (virtually) overnight. That is a hard truth to accept.
        </p>
        <p>
            <b>But it is not too late to make a difference</b>. It is not too late to express the best of what it means to be human: to care for each other. To recognize the intrinsic worth of another soul. To love life: all that is created. To leave the world a better place.
        </p>
        <p>
            Why change our personal habits, communal priorities, and institutional regulations? Because we love our children, our neighbors, and our planet. Because action is where we will find our hope and joy.  And because action <i>can work</i>: we saved the Bald Eagle, reduced acid rain, and stopped the growth of the ozone hole. We can do this.
        </p>
        <blockquote>
            "Let’s work together to make this planet earth environmentally sustainable so that our succeeding generations – children after children – will live peacefully. There is no Plan B because we do not have planet B." <br>
            <a href="http://www.un.org/sg/offthecuff/index.asp?nid=3549">U.N. Secretary General Ban Ki-moon</a>
        </blockquote>
        <p>
            Myriads of others have written and spoken more eloquently about the morality of climate action. We commend you to them for further inspiration. Scroll down for a few links.
        </p>
        <p class="caption" style="text-align: center">
            <img src="images/childrenGrass.jpg" width="602" height="261" />
            <br />
            Copyright &copy; <a href="http://www.freeimages.com/profile/kentmurray">Kent Murray</a>
        </p>
        <p>
            Book review: <a href="http://www.ethicsandinternationalaffairs.org/2014/a-perfect-moral-storm-the-ethical-tragedy-of-climate-change-stephen-m-gardiner/">A Perfect Moral Storm: The Ethical Tragedy of Climate Change by Stephen M. Gardiner</a>.
        </p>
        <p>
            Video: <a href="http://www.onbeing.org/program/moral-math-climate-change/209">The Moral Math of Climate Change</a>, Krista Tippet interviewing Bill McKibben.
        </p>
        <p>
            Statements: <a href="http://greenfaith.org/religious-teachings">Religious Teachings</a> collected by GreenFaith, or <a href="http://www.preachin.org/resources/religious-statements-on-climate-change/">Religious Statements on Climate Change</a> as collected by Interfaith Power and Light.
        </p>
        <p>
            Book: <a href="http://moralground.com/">Moral Ground: Ethical Action for a Planet in Peril</a>.
        </p>

            </div>
</div>